.experiences-page .page-header-bg img {
  object-position: center 30%;
}

.exp-page-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-3);
}

@media (min-width: 600px) {
  .exp-page-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-6);
  }
}

@media (min-width: 1024px) {
  .exp-page-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
